{% extends "Blog/main.html" %} {% load static %} {% block pageName %} Acerca de
mí {% endblock pageName %} {% block dynamic_content %}

<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">ACERCA DE</div>
  </div>
</header>

<section class="page-section bg-light" id="team">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="team-member">
          <img
            class="mx-auto rounded-circle"
            src="{% static 'Blog/assets/img/profile.jpg' %}"
            alt="..."
          />
          <h4>Martín Segarra</h4>
          <p class="text-muted">Estudiante</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://twitter.com/MartinSegarra"
            aria-label="Diana Petersen Twitter Profile"
            target="_blank"
            
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://www.facebook.com/martin.segarra.3/"
            aria-label="Diana Petersen Facebook Profile"
            target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="https://www.linkedin.com/in/martin-segarra-990424b6/"
            aria-label="Diana Petersen LinkedIn Profile"
            target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Estudiante del curso de Python en Coderhouse, y desarrollador del blog que estás leyendo como parte del proyecto final. ¡Gracias por la visita!
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock dynamic_content %}
